<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion des absences - INPT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        #ga{

            font-family: Impact;
            color : #1ccad5;
        }
        body{
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            color: white;
            background-color: #087f95;
        }
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
        #messi{

        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">INPT</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('user_index') }}">Home</a></li>
                </ul>
        </div>
     </div>
</nav>

<div class="jumbotron" id="ga">
    <div class="container text-center">
        <h1>Gestion des absences</h1>
        <p>Consultation</p>
    </div>
</div>

<div class="container">
    <h2></h2>
    <div class="btn-group btn-group-justified">
        <a href="{{ path('user_list_absence_etudiant') }}" class="btn btn-info">Absences par etudiant</a>
        <a href="{{ path('user_list_absence_classe') }}" class="btn btn-info">Absences par classe</a>
        <a href="{{ path('user_list_absence_tous') }}" class="btn btn-info">Toutes les absences</a>
    </div>
</div>


<div class="container">
    <h3> Situation d'absence pour l'etudiant {{ nom }} </h3>
    <table class="table">
        <thead>
        <tr>
            <th>ETUDIANT</th>
            <th>DATE</th>
            <th>Nombre de vacation </th>
        </tr>
        </thead>
        <tbody>
        {% for a in absences %}
            <tr>
                <td>{{ a.etudiant.nom }}</td>
                <td>{{ a.date | date('d/m/Y')}}</td>
                <td>{{ a.nbVacation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




</body>
</html>